@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodape.css");


:root {
    --cor-de-fundo: #ffffff00;
    --branco: rgb(214, 4, 4);
    --laranja: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #425681 35.49%, #235a81 165.37%);
    --fonte-principal: "Poppins";
    --azul: #2d92df;
    --fonte-secundario: "Josefin Sans";
    --preto: #f8f8f800;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}